<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %-5level %class{36} %L %M - %msg%n"/>
        </Console>
        <File name="FileLog" fileName="logs/app.log" append="true">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %-5level %class{36} %L %M - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>
